main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  background-color: white;
  .note-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding-bottom: 50px;
    li{

      display: flex;
      width: 10%;
      height: 150px;
      background-color: #AAB7F0;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
      align-items: center;
      justify-content: center;
      margin: 10px;

    }

  }
}
